* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

svg {
    border: solid 1px red;
}

.guy {
    fill: #979797;
    stroke: #979797;
    stroke-width: 5;
}