* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 10px;
}

#dot {
    position: absolute;
    top: 500px;
    left: 500px;
    background-color: #a4dded;
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    animation-name: movedot;
    animation-duration: 5s;
}

@keyframes movedot {
    0% {
        transform: translateX(0) rotate(0deg);
        transform-origin: 0;
    }
    100% {
        transform: translateX(500px) rotate(1080deg);
        transform-origin: -500px;
    }
}