* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#2c122e, #000);
}

pre {
    background-color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 0.3rem currentColor;
    padding: 1rem;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
}

.func {
    color: #de2323
}

.funcName {
    color: #4444ff
}

.bracket {
    color: #ffff2a
}

.code {
    color: #87d1e9
}

pre:after,
pre::before {
    content: "";
    border-radius: inherit;
    position: absolute;
}

pre::before {
    inset: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateZ(-49px);
}

pre::after {
    inset: -1rem;
    background: linear-gradient(-45deg, red, blue);
    transform: translateZ(-50px);
}