* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E311F;
}









.glyph {
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 2.8rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#corn {
    top: 470px;
    left: 160px;
    transform:
        rotate(45deg);
    animation-name: items-right;
}

#football {
    top: 485px;
    left: 750px;
    transform:
        rotate(-45deg);
    animation-name: items-left;
}

#carrot {
    top: 620px;
    left: 650px;
    transform:
        rotate(-45deg);
    animation-name: items-left;
}

#cheese {
    top: 615px;
    left: 280px;
    animation-name: items;
}

#pie {
    top: 55px;
    left: 150px;
    animation-name: items;
}

@keyframes items {
    0% {}
    50% { transform: scale(1.2, 1.2) }
    100% {}
}

@keyframes items-right {
    0% {
        transform:
            rotate(45deg);
    }

    50% {
        transform:
            scale(1.2, 1.2)
            rotate(45deg);
    }

    100% {
        transform:
        rotate(45deg);
    }
}

@keyframes items-left {
    0% {
        transform:
            rotate(-45deg);
    }

    50% {
        transform:
            scale(1.2, 1.2)
            rotate(-45deg);
    }

    100% {
        transform:
        rotate(-45deg);
    }
}









#turkey {
    top: 755px;
    left: 155px;
    transform: 
        scale(-1, 1);
    animation-name: move-turkey;
    animation-duration: 30s;
}

@keyframes move-turkey {
    0% { transform: translate(px0, 0px) scale(1, 1)}
    2.4390243902439024% { transform: translate(6px, -282px) scale(-1, 1)}
    4.878048780487805% { transform: translate(0px, 0px) scale(1, 1)}
    7.317073170731707% { transform: translate(247px, 5px) scale(-1, 1)}
    9.75609756097561% { transform: translate(249px, -133px) scale(-1, 1)}
    12.195121951219512% { transform: translate(132px, -136px) scale(1, 1)}
    14.634146341463413% { transform: translate(244px, -136px) scale(-1, 1)}
    17.073170731707318% { transform: translate(246px, -282px) scale(-1, 1)}
    19.51219512195122% { transform: translate(143px, -284px) scale(1, 1)}
    21.95121951219512% { transform: translate(140px, -419px) scale(1, 1)}
    24.390243902439025% { transform: translate(9px, -420px) scale(1, 1)}
    26.829268292682926% { transform: translate(4px, -556px) scale(1, 1)}
    29.268292682926827% { transform: translate(221px, -560px) scale(-1, 1)}
    31.70731707317073% { transform: translate(223px, -700px) scale(-1, 1)}
    34.146341463414636% { transform: translate(1px, -702px) scale(1, 1)}
    36.58536585365854% { transform: translate(227px, -695px) scale(-1, 1)}
    39.02439024390244% { transform: translate(225px, -561px) scale(1, 1)}
    41.46341463414634% { transform: translate(2px, -557px) scale(1, 1)}
    43.90243902439024% { transform: translate(1px, -427px) scale(1, 1)}
    46.34146341463415% { transform: translate(355px, -416px) scale(-1, 1)}
    48.78048780487805% { transform: translate(356px, -559px) scale(-1, 1)}
    51.21951219512195% { transform: translate(460px, -561px) scale(-1, 1)}
    53.65853658536585% { transform: translate(462px, -692px) scale(-1, 1)}
    56.09756097560975% { transform: translate(613px, -698px) scale(-1, 1)}
    58.536585365853654% { transform: translate(606px, -421px) scale(1, 1)}
    60.97560975609756% { transform: translate(498px, -416px) scale(1, 1)}
    63.41463414634146% { transform: translate(498px, -279px) scale(1, 1)}
    65.85365853658537% { transform: translate(608px, -277px) scale(-1, 1)}
    68.29268292682927% { transform: translate(381px, -274px) scale(1, 1)}
    70.73170731707317% { transform: translate(383px, 3px) scale(-1, 1)}
    73.17073170731707% { transform: translate(603px, -4px) scale(-1, 1)}
    75.60975609756098% { transform: translate(605px, -131px) scale(-1, 1)}
    78.04878048780488% { transform: translate(507px, -138px) scale(1, 1)}
    80.48780487804878% { transform: translate(603px, -132px) scale(-1, 1)}
    82.92682926829268% { transform: translate(608px, 5px) scale(-1, 1)}
    85.36585365853658% { transform: translate(390px, -1px) scale(1, 1)}
    87.80487804878048% { transform: translate(381px, -272px) scale(1, 1)}
    90.24390243902438% { transform: translate(500px, -278px) scale(-1, 1)}
    92.6829268292683% { transform: translate(504px, -412px) scale(-1, 1)}
    95.1219512195122% { transform: translate(603px, -417px) scale(-1, 1)}
    97.5609756097561% { transform: translate(607px, -696px) scale(-1, 1)}
    100% { transform: translate(731px, -702px) scale(-1, 1)}
}