* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

img, map {
    scale: 0.8
}







body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}









#shapes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}