* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}









/* ------------ MAIN MENU ------------ */

#menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*needs background background image */
}

#title {
    font-size: 10rem;
}

.main-menu-buttons {
    font-size: 4rem;
}