* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    background-color: purple;
}

#drop-ball-button {
    border: solid 2px #222;
    border-radius: 20px;
    font-size: 2.5rem;
    height: 50px;
    width: 250px;
    background-color: #ddd;
    transition-duration: 0.4s;
}

#drop-ball-button:hover {
    background-color: #aaa;
}